.navbar {

  &__navbar {
    box-sizing: border-box;
    margin-right: auto;
    margin-bottom: 20px;
  }

  &__navitem {
    padding: 2px;
    margin-right: 10px;
    color: white;
    text-decoration: none;
  }


  .active, .btn:hover {
    border-bottom: 3px solid white;
  }


}
