.navbar {

  &__navbar {
    box-sizing: border-box;
    margin-right: auto;

    margin-bottom: 20px;
  }

  &__navitem {
    padding: 3px;
    margin-right: 10px;
    color:aqua;
    font-weight: 700;
    text-decoration: none;
  }

  &__navitemlink {
    color: white;
    text-decoration: none;
  }

  .active {
    border-bottom: 3px solid white;
  }
}
